#show{
    width:80%;
    margin: auto;
    background-color: white;
    margin-top: 8%;
    margin-bottom: 8%;
    box-shadow: 1px 1px 12px #777;
}
#bannere{
    width: 100%;
    height: 60vh;
}
#bannere h1{
    line-height:60vh; /* centrage vertical */
    color: white;
    font-size: 4em;
}
#media{
    width: 95%;
    margin: auto;
}
iframe{
    margin-top: 2%;
    margin-left: 2%;
}
#show #content{
    width: 80%;
    margin: auto;
    margin-top: 2%;
}
#show p #date #content{
    text-align: center;
}
#comments{
    width: 65%;
    margin: auto;
    margin-top: 2%;
}
#edit{
    display: flex;
    width: 80%;
    margin: auto;
}