@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

html {
  font-size: 10px;
}
html, body {
  height: 100%;
}
body{
    width: 100%;
    background-color:#ededed;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.8333;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
}
#bannere{
    width: 100%;
    height: 100vh;
    background-image: url("images/fond-snowboard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#bannere h1{
    padding-top:45vh; /* centrage vertical */
    margin-left: 10vh;
    color: white;
    font-size: 4em;
}

.hidden{
    visibility: hidden;
}

/* ------------------------------------------------------------------- 
 * ## entries list
 * ------------------------------------------------------------------- */
    .entries-wrap {
      width: 100%;
    }

    .entries-wrap.add-top-padding {
      padding-top: 3rem;
    }

    .entries {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-left: 2%;
      margin-top: 2%;
      margin-bottom: 2%;        
    }

    .entries .col-block {
      -webkit-box-flex: 0 0 25%;
      -moz-box-flex: 0 0 25%;
      -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 20px;
      margin-bottom: 4.2rem;
    }

    .entries .item-entry {
      height: 100%;
      background-color: #FFFFFF;
      padding-bottom: 6rem;
      text-align: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
      overflow: hidden;
      position: relative;
    }

    .entries .item-entry__thumb {
      position: relative;
      overflow: hidden;
    }

    .entries .item-entry__thumb-link img {
      vertical-align: bottom;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .entries .item-entry__thumb-link::before {
      content: "";
      display: block;
      background: rgba(255, 255, 255, 0.6);
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 1;
    }

    .entries .item-entry__thumb-link::after {
      content: "...";
      font-family: georgia, serif;
      font-size: 3rem;
      z-index: 1;
      display: block;
      height: 90px;
      width: 90px;
      letter-spacing: 0;
      line-height: 90px;
      margin-left: -45px;
      margin-top: -45px;
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      color: #000000;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
    }

    .entries .item-entry__thumb:hover .item-entry__thumb-link::before {
      opacity: 1;
      visibility: visible;
    }

    .entries .item-entry__thumb:hover .item-entry__thumb-link::after {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    .entries .item-entry__thumb:hover .item-entry__thumb-link img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }

    .entries .item-entry__text {
      padding: 1.5rem 2.4rem 0;
    }

    .entries .item-entry__title {
      font-family: "Libre Baskerville", serif;
      font-size: 2.8rem;
      line-height: 1.286;
      margin-top: 0;
      margin-bottom: 4.5rem;
    }

    .entries .item-entry__title a {
      color: #000000;
      border-bottom: 1px solid transparent;
    }

    .entries .item-entry__title a:hover, .entries .item-entry__title a:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    .entries .item-entry__cat {
      margin-bottom: 1.2rem;
    }

    .entries .item-entry__cat a {
      font-weight: 700;
      font-size: 1.4rem;
      text-transform: uppercase;
      letter-spacing: .25rem;
    }

    .entries .item-entry__cat a:hover, .entries .item-entry__cat a:focus {
      color: #000000;
    }

    .entries .item-entry__date {
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      position: absolute;
      left: 50%;
      bottom: 3.9rem;
      width: 100%;
      -webkit-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }

    .entries .item-entry__date a {
      color: rgba(0, 0, 0, 0.8);
    }

    .entries-wrap + .pagination-wrap {
      margin-top: 3.6rem;
    }

/* ------------------------------------------------------------------- 
 * responsive:
 * entries
 * ------------------------------------------------------------------- */
    @media only screen and (max-width:1480px) {
      .entries-wrap {
        max-width: 1080px;
      }

      .entries .col-block {
        -webkit-box-flex: 0 0 33.33333%;
        -moz-box-flex: 0 0 33.33333%;
        -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
      .entries {
          margin-left: 7.5%;     
          width:86%;
        }

    }

    @media only screen and (max-width:1080px) {
      .entries-wrap {
        max-width: 740px;
      }

      .entries .col-block {
        -webkit-box-flex: 0 0 50%;
        -moz-box-flex: 0 0 50%;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

    }

    @media only screen and (max-width:800px) {
      .entries .col-block {
        padding: 0 15px;
        margin-bottom: 30px;
      }

    }

    @media only screen and (max-width:700px) {
      .entries-wrap {
        max-width: 400px;
      }

      .entries {
        -webkit-box-flex: column nowrap;
        -moz-box-flex: column nowrap;
        -webkit-flex: column nowrap;
        -ms-flex: column nowrap;
        flex: column nowrap;
      }

      .entries .col-block {
        width: 100%;
        max-width: 100%;
        -webkit-box-flex: 0 1 auto;
        -moz-box-flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        margin-bottom: 3.6rem;
        padding: 0 10px;
      }

    }

    @media only screen and (max-width:600px) {
      .entries-wrap {
        width: auto;
      }

    }

    @media only screen and (max-width:400px) {
      .entries .col-block {
        padding: 0;
      }

    }

    @media only screen and (max-width:380px) {
      .entries .item-entry__title {
        font-size: 2.4rem;
      }
    }
    
#add-more{
    display: block;
    margin : auto;
    width: 85%;
    height:45px;
  
}
#newtricks{
    width:100%;
    height:45vh;
    background-image: url("images/snow2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align:center;
}
#newtricks div{
    margin-top:5%;
    padding-top:20vh;
    color:white;
    text-align:center;
}
#newtricks a{
    font-size: 1.5em;
    color: White;
}
@media only screen and (max-width:1480px) {
    #bannere h1{
        padding-top:45vh; /* centrage vertical */
        margin-left: 5vh;
        font-size: 1.6em;
    }
    #newtricks{
        width:100%;
        height:45vh;
    }
    #newtricks div{
        padding-top:18vh;
        color:white;
        text-align:center;
        width:80%;
        margin:auto;
    }
    #newtricks a{
        font-size: 1.1em;
        color: White;
    }
    #newtricks h1{
        font-size: 1em;
    }

}
footer{
   background-color: rgba(255, 255, 255,0.5);
}
#bannere_error{
    width: 100%;
    height: 100vh;
    background-image: url("images/fond-snowboard.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
#bannere_error div{
    padding-top: 40vh;
    font-size: 2em;
}
#bannere_error a{
    padding:10px;
    font-size:20px;
    background:#478bf9;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}
