{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <div class="nav justify-content-left" id="bannere">
        <h1>Phrase d'accorche</h1>
    </div>
{% endblock %}

