{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    {{ form(form) }}
    <a href="{{ path('security_login')}}"> Connexion</a>
{% endblock %}

